@using RPedretti.RazorComponents.Sample.Shared.Pages.Inputs
<Router AppAssembly="typeof(Startup).Assembly" AdditionalAssemblies="new[] { typeof(Inputs).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
