.paged-grid {
    height: 100%;
    .content {
        height: calc(100% - 50px);
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-row-gap: 12px;
        grid-column-gap: 4px;
    }
}
