@using RPedretti.RazorComponents.Sensors.AmbientLight
@using RPedretti.RazorComponents.Sensors.Geolocation

<Router AppAssembly="typeof(Startup).Assembly">
    <Found Context="routeData">
        <Geolocation Watching="true" />
        <LightSensor PollTime="1" />
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
