<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BingMap Wasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-lg fa-directions" aria-hidden="true"></span> Directions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="traffic">
                <span class="fas fa-lg fa-traffic-light" aria-hidden="true"></span> Trafic
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pushpins">
                <span class="fas fa-lg fa-map-pin" aria-hidden="true"></span> Pins
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="polygons">
                <span class="fas fa-lg fa-draw-polygon" aria-hidden="true"></span> Polygons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="polylines">
                <span class="fas fa-lg fa-draw-polygon" aria-hidden="true"></span> Polylines
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
