@page "/"
@namespace RPedretti.RazorComponents.Sample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPedretti.RazorComponents.Sample</title>
    <base href="" />
    <environment include="Development">
        <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="lib/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="css/all.css" rel="stylesheet" />
    <link href="_content/rpedretti.razorcomponents.input/css/all.css" rel="stylesheet" />
    <link href="_content/rpedretti.razorcomponents.layout/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/popper.min.js"></script>
    <script src="_content/rpedretti.razorcomponents.input/js/init-namespaces.js"></script>
    <script src="_content/rpedretti.razorcomponents.input/js/suggest-box.js"></script>
    <script src="_content/rpedretti.razorcomponents.sensors/js/init-namespaces.js"></script>
    <script src="_content/rpedretti.razorcomponents.sensors/js/lightsensor.js"></script>
    <script src="_content/rpedretti.razorcomponents.sensors/js/geolocation.js"></script>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
