.paged-grid {
    height: calc(100vh - 140px);
    min-width: 360px;
    .movies {
        height: calc(-15.4rem + 100vh);
        > .movie-poster {
            list-style: none;
            justify-self: center;
        }
    }
}
