@inherits HelloModalBase

<div class="hello-modal">
    <div class="hello-modal-content">
        <span>hello modal</span>
        <button class="btn" @onclick="@EmitClose">close</button>
    </div>
</div>