@typeparam TItem

@if (Items != null)
{
<ol>
    @foreach (var item in Items)
    {
        <li>
            @ItemTemplate(item)
        </li>
    }
</ol>
}

@code {
    [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter] public IEnumerable<TItem> Items { get; set; }
}